.features
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.features__title
  margin-bottom: 50px

.features__group
  position: relative
  max-width: 41%
  padding: 0
  padding-left: 100px
  margin-bottom: 35px
  @media (max-width: $media-xl)
    max-width: 35%

  @media (max-width: $media-md)
    max-width: 80%
    padding-left: 15%

  @media (max-width: $media-sm)
    padding-left: 20px

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 90px
    height: 90px
    background-image: url('../img/features-6.png')
    background-size: contain

    @media (max-width: $media-md)
      width: 70px
      height: 70px

    @media (max-width: $media-sm)
      left: 20px

  &:nth-child(2):before
    background-image: url('../img/features-2.png')
  &:nth-child(3):before
    background-image: url('../img/features-5.png')
  &:nth-child(4):before
    background-image: url('../img/features-3.png')
  &:nth-child(5):before
    background-image: url('../img/features-1.png')
  &:nth-child(6):before
    background-image: url('../img/features-4.png')

.features__group-head
  margin-top: 0
  margin-bottom: 0
  font-size: 150%

  @media (max-width: $media-sm)
    margin-left: 80px
    min-height: 80px

.features__group-content
  line-height: 1.5
  font-size: 18px
    